
.ul{
    list-style: none;
}

.ul > li{
    width: 100%;
}

.span{
    display: block;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.span:hover, .span:active{
    background-color:rgb(199, 138, 48);
}

@media screen and (min-width:546px){
    .background{
        top: 138px;
    }
}

@media screen and (min-width:860px){
    .background{
        top: 72px;
    }
}

/* for PC version */
@media screen and (min-width: 1024px){

}